* {
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
}

body {
    background-color: #fff;
    color: var(--very-dark-blue);
    font-family: "Barlow", sans-serif;
    font-size: 1.2em;
    overflow-x: hidden;
}

body::after {
    background-color: var(--light-grayish-blue);
    border-bottom-left-radius: 50px;
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    width: 50vw;
    z-index: -1;
    margin: 0;
}

h1, h3, button, nav a {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5em;
    line-height: 1.1;
    margin: 0;
}

h3 {
    color: var(--grayish-blue);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 4px;
}

h3 span {
    background-color: var(--very-dark-blue);
    border-radius: 50px;
    color: #fff;
    letter-spacing: 0;
    margin-right: 10px;
    padding: 5px 15px;
}

p {
    color: var(--dark-grayish-blue);
    font-size: 1.1em;
}

button {
    background-color: var(--red);
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 3px;
    margin-right: 20px;
    outline: none;
    padding: 15px 30px;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.container > div {
    flex: 1;
}

.flex {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

nav {
    margin: 40px 0;
}

.hamburger {
    background-color: transparent;
    display: none;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul li {
    margin-left: 40px;
}

ul li.login {
    position: relative;
    margin-left: 80px;
}

ul li.login::before {
    content: '';
    background-color: var(--grayish-blue);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40px, -50%);
}

ul li a {
    color: var(--very-dark-blue);
    font-weight: 700;
    text-decoration: none;
}

ul li.login a {
    color: var(--grayish-blue);
}

main {
    margin-top: 70px;
}

.illustration {
    transform: scale(1.5) translateX(25%);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    body {
        font-size: 1em;
        overflow-x: hidden;
    }

    main .container {
        flex-direction: column-reverse;
    }

    .flex {
        margin-top: 50px;
    }

    h1 {
        font-size: 3em;
    }

    h3, button {
        font-size: 1em;
    }

    .hamburger {
        display: block;
    }

    .hamburger .close {
        display: none;
    }

    .hamburger.show .open {
        display: none;
    }

    .hamburger.show .close {
        display: block;
    }

    ul {
        display: none;
    }

    ul.show {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: block;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        top: 100px;
        left: 50px;
        width: calc(100% - 100px);
        height: 60vw;
        z-index: 100;
    }

    ul.show li {
        margin: 30px 0;
        text-align: center;
    }

    ul li.login::before {
        display: block;
        height: 1px;
        width: 100%;
        border-radius: 0;
        top: 10px;
        left: 0;
        transform: translate(0, -20px);
    }

    .illustration {
        transform: scale(1.2) translateX(10%);
        margin-bottom: 100px;
    }
}